.hero {
    background-image: url('/assets/images/body-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}

.post-outer {
  padding: 15px 20px;
  margin-bottom: 25px;
  border: 1px dotted #d0c1a2;
  background: url('../images/post_background_birds.png');
}
